@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  color: #fafafa;
  background-color: #0f0f0f;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
